{% extends "master-page.html" %}
{% load static %}

{% block left-menu %}
    {% include 'includes/left-menu.html' %}
{% endblock %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">Quản lý /</span> Thêm Quầy Bán Hàng
    </h4>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card custom-card-bg">
                <div class="card-header text-center custom-card-header">
                    <h3 class="mb-0">Thêm Quầy Bán Hàng Mới</h3>
                </div>
                <div class="card-body custom-card-body">
                    <form method="post" class="custom-form">
                        {% csrf_token %}
                        <div class="mb-3 custom-form-group">
                           <label for="{{ form.ten_quay.id_for_label }}" class="form-label custom-label">Tên quầy</label>
                           {{ form.ten_quay }}
                        </div>
                           <div class="mb-3 custom-form-group">
                           <label for="{{ form.ma_quay.id_for_label }}" class="form-label custom-label">Mã quầy</label>
                           {{ form.ma_quay }}
                        </div>

                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-primary custom-btn">Lưu Quầy Bán</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    {% include 'includes/footer.html' %}
{% endblock %}
<style>

   .custom-card-bg {
       background-color: #f8f9fa; /* Light gray */
       border-radius: 10px;
       box-shadow: 0 2px 4px rgba(0,0,0,0.1);
       border: 1px solid #eee;

    }
   .custom-card-header {
        background-color: #3498db; /* Blue header */
        color: white;
        padding: 12px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .custom-card-body {
        padding: 20px;
    }
    .custom-form{
       margin: auto;
       max-width: 400px;
    }
    .custom-label{
       color: #555;
      font-weight: bold;
     }
    .custom-input{
       border-color: #ccc;
    }
     .custom-input:focus{
         border-color: #3498db;
         box-shadow: none;
      }
       .custom-form-group p{
          margin-bottom: 0px;
        }
    .custom-btn{
       background-color: #3498db;
       border-color: #3498db;
      transition: background-color 0.3s ease, border-color 0.3s ease;
    }
    .custom-btn:hover{
       background-color: #2980b9;
         border-color: #2980b9;
    }
</style>